
<!doctype html>
<html ng-app="flightSearch">
<head>
    <meta charset="UTF-8">
    <title>Flight Search Engine</title>
    
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="Scripts/controller.js"></script>
    
    <link rel="stylesheet" href="Styles/bootstrap.min.css">
    <link rel="stylesheet" href="Styles/bootstrap.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    
    <script>
        $(function() {
            $( "#departuredate" ).datepicker();
            $( "#returndate" ).datepicker();
        });
        
        function clearFields() {
            document.getElementById("departuredate").value = "";
            document.getElementById("returndate").value = "";
            document.getElementById("passengers").value = "";
            document.getElementById("source").selectedIndex = 0;
            document.getElementById("destination").selectedIndex = 0;
           
        }
    </script>
    
    
</head>
<body ng-controller="flightList">
    <header class="container">
        <div class="jumbotron">
            <h2>Flight Search Engine</h2>
        </div>
    </header>
    <div class="container">
       
        
            <div class="col-md-3" style="background-color: #e9e9e9;">
                <label>From</label>
                <select class="form-control" name="source" id="source" ng-model="from">
                    <option value="">Please Select</option>
                    <option value="MEL">Melbourne</option>
                    <option value="SYD">Sydney</option>
                    <option value="BRS">Brisbane</option>
                    <option value="ADL">Adelaide</option>
                    
                </select>
                <label>Destination</label>
                <select class="form-control" name="destination" id="destination" ng-model="destination">
                    <option value="">Please Select</option>
                    <option value="MEL">Melbourne</option>
                    <option value="SYD">Sydney</option>
                    <option value="PER">Perth</option>
                </select>
                <label>Departure Date</label>
                <input class="form-control" type="text" id="departuredate" ng-model="departuredate"/>
                <label>Return Date</label>
                <input class="form-control" type="text" id="returndate" />
                <label>Passengers</label>
                <input class="form-control" type="text" id="passengers" />
                <br>
                <input class="btn btn-primary" type="submit" ng-click="searchFlights();" style="" value="Search Flights" />
                
                <input class="btn btn-primary" type="reset" onClick="clearFields();" style="margin-left:55px;" value="Clear" />
                <br>
                
            </div>
            
            <div class="col-md-9">
                
                <div class="table-responsive" ng-hide="!flights.length">
                    
                    <table class="table table-bordered">
                            <tr>
                                <th>Flight</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Flight No</th>
                                <th>Depart Time</th>
                                <th>Arrival Time</th>
                                
                            </tr>
                            <tr ng-repeat="flight in flights">
                               <td>{{ flight.company }}</td>
                               <td>{{ flight.source }}</td>
                               <td>{{ flight.destination }}</td> 
                               <td>{{ flight.flightid }}</td>
                               <td>{{ flight.departtime }}</td>
                               <td>{{ flight.arrivaltime }}</td>   
                               
                            </tr>
                        
                    </table>
                    
                </div>
                <!--<div id="flight-results" class="row bg-primary" ng-repeat="flight in flights">
                    <div class="col-sm-5">
                        <label>Flight No: {{flight.flightid}}</label>
                        <p>{{flight.source}} > {{flight.destination}}</p>
                        
                    </div>
                    <div class="col-sm-2">
                        <p>Depart: {{flight.departtime}}</p>
                        <p>Arrive: {{flight.arrivaltime}}</p>
                    </div>
                    <div class="col-sm-5">
                        <p>AUD {{flight.price}}</p>
                        
                    </div>
                  
                </div>-->
                
                <div class="alert alert-warning" ng-show="!flights.length">Sorry, no flights available!</div>  
                
                
            </div>
       
        
        
    </div>

</body>
</html>